.delete {
  background: #ddd;
  padding: 0.4rem 0.8rem;
  line-height: 1;
  border: 1px solid transparent;
  font-size: 1.2rem;
  font-family: var(--type-first);
  cursor: pointer;
  border-radius: 0.6rem;
}
.delete:focus,
.delete:hover {
  outline: none;
  background: var(--white);
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}
