.wrapper {
  margin-bottom: 1.6rem;
}

.input {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 6px;
  background: #eee;
  transition: 0.2s;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: var(--yellow);
  box-shadow: 0 0 0 3px #fea;
}

.label {
  display: block;
  font-size: 1.6rem;
  line-height: 1;
  padding-bottom: 0.8rem;
}

.error {
  color: #f31;
  font-size: 1.4rem;
  margin-top: 0.6rem;
}
